html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 5px;
}

nav {
    display: flex;
    width: 100%;
    border: 2px solid gray;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 2px solid gray;
    margin: 5px;
    padding: 5px;

}

nav ul li {
    border: 2px solid gray;
    margin: 5px;
    padding: 5px;
    list-style-type: none;
    
}

nav a {
    text-decoration: none;
    color: gray;
    padding: 2px;
    border: 2px solid gray;

}