body {
    background: #B0F4FF;
    font-family: sans-serif;
    width: 100%;
    display: grid;
    justify-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #DDDDDD;
    margin: 5px;
    width: 1000px;
    border: 2px solid black;
}
main {
    display: grid;
    width: 1000px;
    grid-template-columns: 50% 50%;
}

main section {
    display: flex;
    background: #EEEEEE;
    margin: 5px;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid black;
}

h3 {
    margin: 5px;
}

ol, li, p, a {
    margin: 0px;
    line-height: 20px;
    margin-left: 5px;
}
