body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    /* you will add addition rules for the container here  */
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

/* create your child rules here:  */
.item-1, .item-3, .item-5 {
    grid-column: 1 / span 3;
    background: white;
}

.item-2, .item-4 {
    grid-column: 3 / span 3;
    background: white;
}
