/* Make sure that your @import statement is at the top of your CSS file  */
@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap');

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: "Coral Pixels"
}